rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn(){ return request.auth != null; }
    function admin(){ return signedIn() && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == "admin"; }

    match /users/{uid} {
      allow create: if signedIn() && request.auth.uid == uid;
      allow read, update: if signedIn() && (request.auth.uid == uid || admin());
      allow delete: if admin();
    }

    match /jobs/{jobId} {
      allow read: if true;
      allow create, update, delete: if admin();
    }

    match /applications/{id} {
      allow create: if signedIn() && request.resource.data.userId == request.auth.uid;
      allow read: if signedIn() && (resource.data.userId == request.auth.uid || admin());
      allow update, delete: if admin();
    }

    match /submissions/{id} {
      allow create: if signedIn() && request.resource.data.userId == request.auth.uid;
      allow read: if signedIn() && (resource.data.userId == request.auth.uid || admin());
      allow update, delete: if admin();
    }

    match /supportTickets/{id} {
      allow create: if true;
      allow read, update, delete: if admin();
    }

    match /payoutRequests/{id} {
      allow create: if signedIn() && request.resource.data.userId == request.auth.uid;
      allow read: if signedIn() && (resource.data.userId == request.auth.uid || admin());
      allow update, delete: if admin();
    }
  }
}
